## Gather

In [1]:
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [3]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,LiÃªm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,WoÅºniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,SÃ¸ren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,TÃ¡m,Liá» u,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,SamÃºel,GuÃ°brandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,GaliÄ,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,LÃ¶fgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,LindstrÃ¶m,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [4]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrovÃ¡,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,mÃ©nard,-,54u - 54u,8.08,7.70,NaN
9,asia,woÅºniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiÃ¤,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,Å¾ibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,staniÄ,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoÃ®t,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nÃ¸rgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebÃ¸,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samÃºel,guÃ°brandsson,53u - 56u,-,8.00,7.64,0.36

In [5]:
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miÅosÅaw  wiÅniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lonÄar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [6]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [7]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
given_name      280 non-null object
surname         280 non-null object
auralin         280 non-null object
novodra         280 non-null object
hba1c_start     280 non-null float64
hba1c_end       280 non-null float64
hba1c_change    171 non-null float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [8]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
given_name          34 non-null object
surname             34 non-null object
adverse_reaction    34 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes

In [9]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [10]:
list(patients)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'contact',
 'birthdate',
 'weight',
 'height',
 'bmi']

In [11]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Má»¹,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,TomÃ¡nkovÃ¡,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,CabÃ¡n,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chá»,LÃ¢m,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [12]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [13]:
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [14]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
73,74,female,Å½arka,Rap,2661 Russell Street,Foxboro,MA,2035.0,United States,978-969-6753ZarkaRap@superrito.com,12/28/1995,139.3,68,21.2
261,262,male,Jeremy,Montagu,4988 Lynn Street,Boston,MA,2110.0,United States,JeremyMontagu@teleworm.us617-297-0387,6/23/1982,192.7,74,24.7
290,291,female,Una,TraustadÃ³ttir,1027 Tenmile Road,Bedford,MA,1730.0,United States,781-739-0244UnaTraustadottir@armyspy.com,2/1/1930,152.3,59,30.8
377,378,female,CumelÃ©n,Miramontes,4213 Isaacs Creek Road,Tolono,Illinois,61880.0,United States,217-485-5673CumelenMiramontesAcosta@gustr.com,1/30/1936,130.0,66,21.0

In [15]:
patients.surname.value_counts()

Doe            6
Taylor         3
Jakobsen       3
Souza          2
Aranda         2
CindriÄ        2
Collins        2
Batukayev      2
Silva          2
Kowalczyk      2
BÃ¹i            2
Berg           2
Tucker         2
LÆ°Æ¡ng          2
Correia        2
Lund           2
WoÅºniak        2
LÃ¢m            2
Ogochukwu      2
Táº¡             2
Liá»u           2
Parker         2
Schiavone      2
Kadyrov        2
Hueber         2
Johnson        2
GrÃ­msdÃ³ttir    2
Cabrera        2
Dratchev       2
Gersten        2
              ..
van de Wiel    1
Nyborg         1
Eidem          1
FilÃ­pek        1
Poulsen        1
Tikhonov       1
Quintanilla    1
Koffeman       1
Rice           1
Luman          1
Vestergaard    1
Hsueh          1
Sakai          1
Hill           1
Kos            1
Mathieu        1
Christie       1
Bjarkason      1
Ingason        1
Onyekaozulu    1
Amari          1
Glaser         1
NÃ©met          1
Khoury         1
Chandler       1
Nakahara       1
ZsinkÃ³         1
Achebe         1
Walczak        1
Miramontes     1
Name: surname, Length: 466, dtype: int64

In [16]:
patients.address.value_counts()

123 Main Street             6
2476 Fulton Street          2
2778 North Avenue           2
648 Old Dear Lane           2
1854 Kyle Street            1
2886 Straford Park          1
4220 Simpson Square         1
3683 Gorby Lane             1
2641 Michael Street         1
3216 Lodgeville Road        1
1886 Bicetown Road          1
1895 Hart Ridge Road        1
230 Lady Bug Drive          1
846 Copperhead Road         1
4320 Rardin Drive           1
4040 Linda Street           1
602 Tator Patch Road        1
3558 Longview Avenue        1
1370 Flint Street           1
3857 Straford Park          1
2813 Frederick Street       1
631 Isaacs Creek Road       1
2324 Benson Street          1
4033 White Avenue           1
142 Broad Street            1
3084 Blue Spruce Lane       1
826 Broad Street            1
108 Griffin Street          1
4789 Devils Hill Road       1
2913 Rogers Street          1
                           ..
2338 Virginia Street        1
1386 Farland Street         1
541 Green Hill Road         1
633 Better Street           1
2866 Myra Street            1
3423 Burning Memory Lane    1
4178 Despard Street         1
2531 Cantebury Drive        1
1815 Garrett Street         1
720 Tator Patch Road        1
1507 Woodlawn Drive         1
4649 Joanne Lane            1
312 Jim Rosa Lane           1
2152 Heritage Road          1
2852 Irving Road            1
3662 Shinn Street           1
4643 Reeves Street          1
174 Lost Creek Road         1
4982 Wood Street            1
1092 Farm Meadow Drive      1
4271 Cherry Ridge Drive     1
77 Juniper Drive            1
1497 Hidden Meadow Drive    1
2356 Myra Street            1
1257 Elsie Drive            1
4110 Capitol Avenue         1
1384 Dovetail Estates       1
2785 Norma Lane             1
272 Boone Crockett Lane     1
2418 Smith Street           1
Name: address, Length: 483, dtype: int64

In [17]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Má»¹,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,TomÃ¡nkovÃ¡,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,CabÃ¡n,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chá»,LÃ¢m,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [18]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
       ...
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [19]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [20]:
patients[patients.surname == 'Zaitseva'].bmi

210    19.1
Name: bmi, dtype: float64

In [21]:
sum(treatments.auralin.isnull())

0

In [22]:
sum(treatments.novodra.isnull())

0

#### Quality
##### `patients` table
- Zip code is a float not a string
- Zip code has four digits sometimes
- Tim Neudorf height is 27 in instead of 72 in
- Full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns) ***(can't clean)***
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- Multiple phone number formats
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight

##### `treatments` table
- Missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- Lowercase given names and surnames
- Missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (leading 4s mistaken as 9s)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `adverse_reactions` table
- Lowercase given names and surnames

#### Tidiness
- Contact column in `patients` table should be split into phone number and email
- Three variables in two columns in `treatments` table (treatment, start dose and end dose)
- Adverse reaction should be part of the `treatments` table
- Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables

## Clean

In [23]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Missing Data

<font color='red'>Complete the following two "Missing Data" **Define, Code, and Test** sequences after watching the *"Address Missing Data First"* video.</font>

#### `treatments`: Missing records (280 instead of 350)

##### Define
*Note: the missing `treatments` records are stored in a file named `treatments_cut.csv`, which you can see in this Jupyter Notebook's dashboard (click the **jupyter** logo in the top lefthand corner of this Notebook). Hint: [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) for the function used in the solution.*

Append the missing **treatments** records stored in `treatments_cut.csv` to `treatments_clean` DataFrame

##### Code

In [24]:
# Read missing treatments into a DataFrame
treatments_cut = pd.read_csv('treatments_cut.csv')

# Append missing treatments records into treatments_clean DataFrame
treatments_clean = treatments_clean.append(treatments_cut, ignore_index=True)

##### Test

In [25]:
# Your testing code here
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
given_name      350 non-null object
surname         350 non-null object
auralin         350 non-null object
novodra         350 non-null object
hba1c_start     350 non-null float64
hba1c_end       350 non-null float64
hba1c_change    213 non-null float64
dtypes: float64(3), object(4)
memory usage: 19.2+ KB

#### `treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (leading 4s mistaken as 9s)
*Note: the "Inaccurate HbA1c changes (leading 4s mistaken as 9s)" observation, which is an accuracy issue and not a completeness issue, is included in this header because it is also fixed by the cleaning operation that fixes the missing "Missing HbA1c changes" observation. Multiple observations in one **Define, Code, and Test** header occurs multiple times in this notebook.*

##### Define
Fix missing and inaccurate HbA1c changes by subtracting `hba1c_start` value from `hba1c_end` value inplace.

##### Code

In [26]:
# Fix missing and inaccurate HbA1c changes column
treatments_clean['hba1c_change'] = (treatments_clean['hba1c_end'] - 
                                    treatments_clean['hba1c_start'])

##### Test

In [27]:
# Testing for missing HbA1c changes
treatments_clean['hba1c_change'].isnull().sum()

0

In [28]:
# Testing for inaccurate HbA1c change values
assert ((treatments_clean['hba1c_end'] - treatments_clean['hba1c_start'])
        .equals(treatments_clean['hba1c_change']))

In [29]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
given_name      350 non-null object
surname         350 non-null object
auralin         350 non-null object
novodra         350 non-null object
hba1c_start     350 non-null float64
hba1c_end       350 non-null float64
hba1c_change    350 non-null float64
dtypes: float64(3), object(4)
memory usage: 19.2+ KB

### Tidiness

<font color='red'>Complete the following four "Tidiness" **Define, Code, and Test** sequences after watching the *"Cleaning for Tidiness"* video.</font>

#### Contact column in `patients` table contains two variables: phone number and email

##### Define
*Your definition here. Hint 1: use regular expressions with pandas' [`str.extract` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html). Here is an amazing [regex tutorial](https://regexone.com/). Hint 2: [various phone number regex patterns](https://stackoverflow.com/questions/16699007/regular-expression-to-match-standard-10-digit-phone-number). Hint 3: [email address regex pattern](http://emailregex.com/), which you might need to modify to distinguish the email from the phone number.*

##### Code

In [30]:
# Your cleaning code here
re_phone = r"^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$"
re_email = r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
s = patients['contact'].str.extract(r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)", expand=True)

##### Test

In [31]:
# Your testing code here
s

                                               0
0           951-719-9170ZoeWellish@superrito.com
1                                            NaN
2               402-363-6804JaeMDebord@gustr.com
3                                            NaN
4                334-515-7487TimNeudorf@cuvox.de
5       386-334-5237RafaelCardosoCosta@gustr.com
6              775-533-5933MaryBAdams@einrot.com
7                                            NaN
8        816-265-9578DavidGustafsson@armyspy.com
9                                            NaN
10        906-478-8949SandyGunnarsson@dayrep.com
11                                           NaN
12     OmeokachieIbeamaka@einrot.com434-509-2614
13                                           NaN
14             AsiaWozniak@rhyta.com918-712-3469
15               276-225-1955SrenFLund@gustr.com
16                                           NaN
17      RoxanneAndreyeva@armyspy.com678-829-8578
18         406-775-2696WilliamVOates@armyspy.com
19                                           NaN
20                                           NaN
21     973-445-5341SamuelGubrandsson@teleworm.us
22               914-745-6108ManchuSu@einrot.com
23                                           NaN
24                                           NaN
25              GregorBole@gustr.com505-828-4955
26              309-671-8852EllaLund@armyspy.com
27           985-814-7603JosephNTucker@rhyta.com
28                                           NaN
29                                           NaN
..                                           ...
473                                          NaN
474    EsperanzaLabrosse@armyspy.com678-263-3564
475       MalikVaneker@superrito.com650-962-7179
476        267-972-3749BertaNapolitani@rhyta.com
477                                          NaN
478                                          NaN
479                                          NaN
480                                          NaN
481                                          NaN
482  361-693-4960DiogoBarrosSouza@jourrapide.com
483           731-577-0292AngelGrant@fleckens.hu
484        336-697-2005PlacidoUdinesi@dayrep.com
485                                          NaN
486            254-681-4504SamuelBlix@dayrep.com
487                                          NaN
488       352-453-4601MikaMartinsson@armyspy.com
489      JasmineSykes@jourrapide.com925-283-5425
490       914-636-9304JacksonAddison@armyspy.com
491   210-222-8684VanessaFerguson@jourrapide.com
492           714-496-2264TarPoldi@superrito.com
493                                          NaN
494                                          NaN
495         650-570-4896HajimeTsukada@dayrep.com
496                                          NaN
497                                          NaN
498  207-477-0579MustafaLindstrom@jourrapide.com
499           928-284-4492RumanBisliev@gustr.com
500        816-223-6007JinkedeKeizer@teleworm.us
501                                          NaN
502         PatrickGersten@rhyta.com402-848-4923

[503 rows x 1 columns]

#### Three variables in two columns in `treatments` table (treatment, start dose and end dose)

##### Define
Transform columns auralin and novodra into values under treatments column. Create two new columns (variables) to store start and end doses. Remove string 'u' from data and convert to integers.

Hint: use pandas' [melt function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html) and [`str.split()` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html). Here is an excellent [`melt` tutorial](https://deparkes.co.uk/2016/10/28/reshape-pandas-data-with-melt/).*

##### Code

In [32]:
# Your cleaning code here
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'], var_name='treatment', value_vars=['auralin', 'novodra'])

# Drop rows which treatment values are '-'
index_names = treatments_clean[treatments_clean['value'] == '-'].index
treatments_clean.drop(index_names, inplace=True)

treatments_clean.reset_index(drop=True,inplace=True)

# Split value column by '-' delimiter
treatments_clean[['start_dose', 'end_dose']] = treatments_clean.value.str.split('-', expand=True)

# Remove 'value' column
treatments_clean.drop(columns=['value'], inplace=True)

# Remove character 'u' from start_dose and end_dose columns and convert them to integer
treatments_clean['start_dose'] = treatments_clean['start_dose'].str.replace('u', '').astype(int)
treatments_clean['end_dose'] = treatments_clean['end_dose'].str.replace('u', '').astype(int)

# Reorder columns to original structure
ordered_columns = (['given_name', 'surname', 'treatment', 'start_dose', 'end_dose', 
                    'hba1c_start', 'hba1c_end', 'hba1c_change'])

treatments_clean = treatments_clean[ordered_columns]

##### Test

In [33]:
# Your testing code here
treatments_clean

,given_name,surname,treatment,start_dose,end_dose,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrovÃ¡,auralin,41,48,7.63,7.20,-0.43
1,skye,gormanston,auralin,33,36,7.97,7.62,-0.35
2,sophia,haugen,auralin,37,42,7.65,7.27,-0.38
3,eddie,archer,auralin,31,38,7.89,7.55,-0.34
4,asia,woÅºniak,auralin,30,36,7.76,7.37,-0.39
5,joseph,day,auralin,29,36,7.70,7.19,-0.51
6,roxanne,andreyeva,auralin,29,38,9.54,9.14,-0.40
7,simone,baumgaertner,auralin,27,37,7.74,7.30,-0.44
8,enco,Å¾ibrik,auralin,55,68,7.78,7.34,-0.44
9,camilla,zaitseva,auralin,28,37,7.53,7.13,-0.40
10,tekla,walczak,auralin,29,39,7.61,7.29,-0.32
11,brancaleone,russo,auralin,53,60,8.61,8.18,-0.43
12,isac,berg,auralin,31,41,9.68,9.29,-0.39
13,clinton,miller,auralin,42,51,7.79,7.40,-0.39
14,eugene,mironov,auralin,42,49,7.81,7.48,-0.33
15,szilveszter,totth,auralin,35,39,7.70,7.38,-0.32
16,alexander,mathiesen,auralin,47,58,7.96,7.55,-0.41
17,chá»,lÃ¢m,auralin,45,48,7.68,7.24,-0.44
18,wÅadysÅaw,wieczorek,auralin,24,37,7.92,7.47,-0.45
19,kristjÃ¡n,ingason,auralin,44,55,7.92,7.57,-0.35
20,marija,grubiÅ¡iÄ,auralin,37,43,7.53,7.15,-0.38
21,sauli,koivuniemi,auralin,43,47,7.67,7.37,-0.30
22,mariana,souza,auralin,36,42,7.86,7.51,-0.35
23,kristoffer,martinsen,auralin,29,37,9.18,8.64,-0.54
24,má»¹,quynh,auralin,57,64,7.61,7.16,-0.45
25,oles,zhdanov,auralin,54,67,7.52,7.11,-0.41
26,triana.,terrazas,auralin,34,42,7.71,7.34,-0.37
27,gabryÅ,tomaszewski,auralin,29,37,7.87,7.47,-0.40
28,leixandre,alanis,auralin,61,67,7.74,7.32,-0.42
29,onyekachukwu,obinna,auralin,37,46,7.58,7.12,-0.46
...,...,...,...,...,...,...,...,...
320,jane,citizen,novodra,37,38,7.98,7.60,-0.38
321,angela,lavrentyev,novodra,28,24,7.61,7.14,-0.47
322,edelma,villalpando,novodra,24,26,7.99,7.56,-0.43
323,annika,vaara,novodra,20,21,7.73,7.34,-0.39
324,chiho,higa,novodra,46,46,7.71,7.30,-0.41
325,beatrycze,woÅºniak,novodra,26,27,7.54,7.17,-0.37
326,miÅosÅaw,wiÅniewski,novodra,34,33,7.51,7.08,-0.43
327,firenze,fodor,novodra,30,35,7.89,7.55,-0.34
328,zoe,wellish,novodra,33,33,7.71,7.30,-0.41
329,una,traustadÃ³ttir,novodra,35,34,8.00,7.50,-0.50
330,luboÅ¡,pecha,novodra,30,27,7.79,7.45,-0.34
331,meaza,brhane,novodra,37,41,7.70,7.36,-0.34
332,adlan,shishani,novodra,43,40,7.84,7.37,-0.47
333,sofia,hermansen,novodra,34,34,8.90,8.57,-0.33
334,guÃ°ni,heimisson,novodra,40,36,7.64,7.24,-0.40
335,eufemio,rosario,novodra,37,40,7.54,7.26,-0.28
336,dalmacia,madrid,novodra,26,23,7.67,7.21,-0.46
337,daimy,tromp,novodra,40,45,9.41,8.94,-0.47
338,jeremy,montagu,novodra,52,52,7.68,7.36,-0.32
339,nebechi,ekechukwu,novodra,37,39,7.78,7.39,-0.39
340,satsita,batukayev,novodra,42,42,7.63,7.25,-0.38
341,timothy,cotton,novodra,26,25,7.92,7.52,-0.40
342,bjÃ¸rnar,nilsen,novodra,36,33,7.99,7.70,-0.29
343,borna,Å¡lezinger,novodra,42,41,7.55,7.18,-0.37
344,mary,adams,novodra,32,33,7.65,7.26,-0.39
345,christopher,woodward,novodra,55,51,7.51,7.06,-0.45
346,maret,sultygov,novodra,26,23,7.67,7.30,-0.37
347,lixue,hsueh,novodra,22,23,9.21,8.80,-0.41
348,jakob,jakobsen,novodra,28,26,7.96,7.51,-0.45
349,berta,napolitani,novodra,42,44,7.68,7.21,-0.47

#### Adverse reaction should be part of the `treatments` table

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for the function used in the solution.*

##### Code

In [34]:
# Your cleaning code here
treatments_clean = pd.merge(treatments_clean, adverse_reactions_clean, on=('given_name', 'surname'), how='left')

##### Test

In [35]:
# Your testing code here
treatments_clean

,given_name,surname,treatment,start_dose,end_dose,hba1c_start,hba1c_end,hba1c_change,adverse_reaction
0,veronika,jindrovÃ¡,auralin,41,48,7.63,7.20,-0.43,NaN
1,skye,gormanston,auralin,33,36,7.97,7.62,-0.35,NaN
2,sophia,haugen,auralin,37,42,7.65,7.27,-0.38,NaN
3,eddie,archer,auralin,31,38,7.89,7.55,-0.34,NaN
4,asia,woÅºniak,auralin,30,36,7.76,7.37,-0.39,NaN
5,joseph,day,auralin,29,36,7.70,7.19,-0.51,hypoglycemia
6,roxanne,andreyeva,auralin,29,38,9.54,9.14,-0.40,NaN
7,simone,baumgaertner,auralin,27,37,7.74,7.30,-0.44,NaN
8,enco,Å¾ibrik,auralin,55,68,7.78,7.34,-0.44,NaN
9,camilla,zaitseva,auralin,28,37,7.53,7.13,-0.40,NaN
10,tekla,walczak,auralin,29,39,7.61,7.29,-0.32,NaN
11,brancaleone,russo,auralin,53,60,8.61,8.18,-0.43,NaN
12,isac,berg,auralin,31,41,9.68,9.29,-0.39,NaN
13,clinton,miller,auralin,42,51,7.79,7.40,-0.39,throat irritation
14,eugene,mironov,auralin,42,49,7.81,7.48,-0.33,NaN
15,szilveszter,totth,auralin,35,39,7.70,7.38,-0.32,NaN
16,alexander,mathiesen,auralin,47,58,7.96,7.55,-0.41,NaN
17,chá»,lÃ¢m,auralin,45,48,7.68,7.24,-0.44,NaN
18,wÅadysÅaw,wieczorek,auralin,24,37,7.92,7.47,-0.45,NaN
19,kristjÃ¡n,ingason,auralin,44,55,7.92,7.57,-0.35,NaN
20,marija,grubiÅ¡iÄ,auralin,37,43,7.53,7.15,-0.38,NaN
21,sauli,koivuniemi,auralin,43,47,7.67,7.37,-0.30,NaN
22,mariana,souza,auralin,36,42,7.86,7.51,-0.35,NaN
23,kristoffer,martinsen,auralin,29,37,9.18,8.64,-0.54,NaN
24,má»¹,quynh,auralin,57,64,7.61,7.16,-0.45,NaN
25,oles,zhdanov,auralin,54,67,7.52,7.11,-0.41,NaN
26,triana.,terrazas,auralin,34,42,7.71,7.34,-0.37,NaN
27,gabryÅ,tomaszewski,auralin,29,37,7.87,7.47,-0.40,NaN
28,leixandre,alanis,auralin,61,67,7.74,7.32,-0.42,NaN
29,onyekachukwu,obinna,auralin,37,46,7.58,7.12,-0.46,NaN
...,...,...,...,...,...,...,...,...,...
320,jane,citizen,novodra,37,38,7.98,7.60,-0.38,NaN
321,angela,lavrentyev,novodra,28,24,7.61,7.14,-0.47,NaN
322,edelma,villalpando,novodra,24,26,7.99,7.56,-0.43,NaN
323,annika,vaara,novodra,20,21,7.73,7.34,-0.39,NaN
324,chiho,higa,novodra,46,46,7.71,7.30,-0.41,NaN
325,beatrycze,woÅºniak,novodra,26,27,7.54,7.17,-0.37,NaN
326,miÅosÅaw,wiÅniewski,novodra,34,33,7.51,7.08,-0.43,injection site discomfort
327,firenze,fodor,novodra,30,35,7.89,7.55,-0.34,NaN
328,zoe,wellish,novodra,33,33,7.71,7.30,-0.41,NaN
329,una,traustadÃ³ttir,novodra,35,34,8.00,7.50,-0.50,NaN
330,luboÅ¡,pecha,novodra,30,27,7.79,7.45,-0.34,NaN
331,meaza,brhane,novodra,37,41,7.70,7.36,-0.34,NaN
332,adlan,shishani,novodra,43,40,7.84,7.37,-0.47,NaN
333,sofia,hermansen,novodra,34,34,8.90,8.57,-0.33,injection site discomfort
334,guÃ°ni,heimisson,novodra,40,36,7.64,7.24,-0.40,NaN
335,eufemio,rosario,novodra,37,40,7.54,7.26,-0.28,NaN
336,dalmacia,madrid,novodra,26,23,7.67,7.21,-0.46,NaN
337,daimy,tromp,novodra,40,45,9.41,8.94,-0.47,NaN
338,jeremy,montagu,novodra,52,52,7.68,7.36,-0.32,NaN
339,nebechi,ekechukwu,novodra,37,39,7.78,7.39,-0.39,NaN
340,satsita,batukayev,novodra,42,42,7.63,7.25,-0.38,NaN
341,timothy,cotton,novodra,26,25,7.92,7.52,-0.40,NaN
342,bjÃ¸rnar,nilsen,novodra,36,33,7.99,7.70,-0.29,NaN
343,borna,Å¡lezinger,novodra,42,41,7.55,7.18,-0.37,NaN
344,mary,adams,novodra,32,33,7.65,7.26,-0.39,NaN
345,christopher,woodward,novodra,55,51,7.51,7.06,-0.45,nausea
346,maret,sultygov,novodra,26,23,7.67,7.30,-0.37,NaN
347,lixue,hsueh,novodra,22,23,9.21,8.80,-0.41,injection site discomfort
348,jakob,jakobsen,novodra,28,26,7.96,7.51,-0.45,hypoglycemia
349,berta,napolitani,novodra,42,44,7.68,7.21,-0.47,injection site discomfort

In [36]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 349
Data columns (total 9 columns):
given_name          350 non-null object
surname             350 non-null object
treatment           350 non-null object
start_dose          350 non-null int64
end_dose            350 non-null int64
hba1c_start         350 non-null float64
hba1c_end           350 non-null float64
hba1c_change        350 non-null float64
adverse_reaction    35 non-null object
dtypes: float64(3), int64(2), object(4)
memory usage: 27.3+ KB

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

In [37]:
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for one function used in the solution and [tutorial](http://erikrood.com/Python_References/dropping_rows_cols_pandas.html) for another function used in the solution.*

##### Code

In [38]:
# Capitalize first character on given_name and surname columns
treatments_clean['given_name'] = treatments_clean['given_name'].str.title()
treatments_clean['surname'] = treatments_clean['surname'].str.title() 

# Merge patient_id column from patients_clean into treatments_clean
treatments_clean = pd.merge(treatments_clean, patients_clean[['patient_id', 'given_name', 'surname']], on=('given_name', 'surname'), how='left')

# Remove given_name and surname columns
treatments_clean.drop(['given_name', 'surname'], axis=1, inplace=True)

# Reorder columns in treatments_clean DataFrame
ordered_columns = (['patient_id', 'treatment', 'start_dose', 'end_dose', 'hba1c_start',
                    'hba1c_end', 'hba1c_change', 'adverse_reaction'])

treatments_clean = treatments_clean[ordered_columns]

In [39]:
# Capitalize first character on given_name and surname columns
adverse_reactions_clean['given_name'] = adverse_reactions_clean['given_name'].str.title()
adverse_reactions_clean['surname'] = adverse_reactions_clean['surname'].str.title()

# Merge patient_id column from patients_clean into adverse_reactions_clean
adverse_reactions_clean = pd.merge(adverse_reactions_clean, 
                                   patients_clean[['patient_id', 'given_name', 'surname']], 
                                   on=('given_name', 'surname'), how='left')

# Remove given_name and surname_columnss
adverse_reactions_clean.drop(['given_name', 'surname'], axis=1, inplace=True)

# Reorder columns in adverse_reactions_clean DataFrame
adverse_reactions_clean = adverse_reactions_clean[['patient_id', 'adverse_reaction']]

##### Test

In [40]:
# Your testing code here
treatments_clean[treatments_clean['patient_id'].isnull()]

,patient_id,treatment,start_dose,end_dose,hba1c_start,hba1c_end,hba1c_change,adverse_reaction
113,NaN,auralin,33,39,7.55,7.26,-0.29,NaN
214,NaN,novodra,44,43,9.87,9.48,-0.39,NaN
244,NaN,novodra,33,34,7.72,7.28,-0.44,NaN
247,NaN,novodra,31,29,7.94,7.51,-0.43,NaN
277,NaN,novodra,40,40,7.57,7.20,-0.37,NaN
311,NaN,novodra,27,29,7.83,7.48,-0.35,NaN

In [41]:
adverse_reactions_clean

    patient_id           adverse_reaction
0          477  injection site discomfort
1          128               hypoglycemia
2           70               hypoglycemia
3          270                      cough
4          403          throat irritation
5          490               hypoglycemia
6           55               hypoglycemia
7           38               hypoglycemia
8           52               hypoglycemia
9          376  injection site discomfort
10         408                   headache
11         259                      cough
12          12               hypoglycemia
13         332  injection site discomfort
14         209               hypoglycemia
15         452                     nausea
16          25               hypoglycemia
17         153                     nausea
18         354               hypoglycemia
19         143                   headache
20          14               hypoglycemia
21         373  injection site discomfort
22         336  injection site discomfort
23         360               hypoglycemia
24         255  injection site discomfort
25          94               hypoglycemia
26         451          throat irritation
27         460               hypoglycemia
28           8               hypoglycemia
29         277               hypoglycemia
30         178               hypoglycemia
31         394                   headache
32         249               hypoglycemia
33         254               hypoglycemia

### Quality

<font color='red'>Complete the remaining "Quality" **Define, Code, and Test** sequences after watching the *"Cleaning for Quality"* video.</font>

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Define
Convert zip code column into string and pad zero at start of string. 

Hint: see the "Data Cleaning Process" page.*

##### Code

In [46]:
# Convert float to string and remove .0 from string
patients_clean['zip_code'] = patients_clean['zip_code'].astype(str).str.replace(r'\.0', '')

# Pad leading zero to zip code colum
patients_clean['zip_code'] = [str(i).rjust(5, '0') for i in patients_clean['zip_code']]

##### Test

In [47]:
# Your testing code here
patients_clean

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,LiÃªm,Phan,2335 Webster Street,Woodbridge,NJ,07095,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,WoÅºniak,4970 Heather Sees Way,Tulsa,OK,74105,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,SÃ¸ren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,TÃ¡m,Liá» u,2152 Heritage Road,Fresno,California,93706,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,02382,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,SamÃºel,GuÃ°brandsson,1904 Granville Lane,Elmsford,NJ,10523,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,GaliÄ,4941 Marion Drive,Winter Haven,Florida,33830,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,02127,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,LÃ¶fgren,1346 Nicholas Street,Ottawa,KS,66067,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,LindstrÃ¶m,2530 Victoria Court,Milton Mills,ME,03852,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

#### Tim Neudorf height is 27 in instead of 72 in

##### Define
Query DataFrame for surname equals Neudorf and replace height.

##### Code

In [58]:
# Your cleaning code here
patients_clean.loc[patients_clean['surname'] == 'Neudorf', ['height']] = 72

##### Test

In [59]:
# Your testing code here
patients_clean.loc[patients_clean['surname'] == 'Neudorf']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,72,26.1

#### Full state names sometimes, abbreviations other times

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html) for method used in solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Dsvid Gustafsson

##### Define
*Your definition here.*

##### Code

In [61]:
# Your cleaning code here
patients_clean.loc[patients_clean['given_name'] == 'Dsvid', ['given_name']] = 'David'

##### Test

In [63]:
# Your testing code here
patients_clean.loc[patients_clean['surname'] == 'Gustafsson']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
8,9,male,David,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5

#### Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns) and Erroneous datatypes (auralin and novodra columns) and The letter 'u' in starting and ending doses for Auralin and Novodra

##### Define
*Your definition here. Hint: [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html) for one method used in solution, [documentation page](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html) for one function used in the solution, and [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.strip.html) for another method used in the solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Multiple phone number formats

##### Define
*Your definition here. Hint: helpful [Stack Overflow answer](https://stackoverflow.com/a/123681).*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Default John Doe data

##### Define
*Your definition here. Recall that it is assumed that the data that this John Doe data displaced is not recoverable.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Multiple records for Jakobsen, Gersten, Taylor

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### kgs instead of lbs for Zaitseva weight

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here